[submodule "SwinIR"]
	path = SuperResolution/SwinIR
	url = https://github.com/JingyunLiang/SwinIR.git
[submodule "Inpainting/lama"]
	path = Inpainting/lama
	url = https://github.com/saic-mdal/lama.git
[submodule "Deblur/MPRNet"]
	path = Deblur/MPRNet
	url = https://github.com/swz30/MPRNet.git
